audit-workflow.json
{
  "name": "Business Audit \u2192 Notion CRM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "business-audit",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "22222222-2222-2222-2222-222222222222"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst contact = raw.body.contact;\nconst benchmark = raw.body.benchmark;\n\nif (!contact || !benchmark) {\n  throw new Error('Invalid payload: missing contact or benchmark');\n}\n\nconst PILLAR_LABELS = {\n  operations: '\u2699\ufe0f Operations',\n  admin: '\ud83d\udcc5 Admin & Scheduling',\n  marketing: '\ud83d\udce3 Marketing & Follow-up',\n  finance: '\ud83d\udcb0 Finance & Reporting',\n  client: '\ud83e\udd1d Client Delivery'\n};\n\nfunction healthLabel(r) {\n  if (r >= 4) return '\ud83d\udd34 Critical';\n  if (r >= 2.5) return '\ud83d\udfe1 At Risk';\n  return '\ud83d\udfe2 Healthy';\n}\n\nconst blocks = [];\n\nblocks.push({\n  type: 'callout',\n  callout: {\n    rich_text: [{\n      type: 'text',\n      text: { content: 'Estimated revenue leak: ' + benchmark.total_monthly_loss_band + ' / month' },\n      annotations: { bold: true }\n    }],\n    icon: { type: 'emoji', emoji: '\ud83d\udcb8' },\n    color: 'red_background'\n  }\n});\n\nblocks.push({\n  type: 'heading_2',\n  heading_2: { rich_text: [{ type: 'text', text: { content: 'Business Overview' } }] }\n});\n\nconst overview = [\n  ['Industry', benchmark.industry || '\u2014'],\n  ['Hourly Rate', '$' + benchmark.hourly_rate + '/hr'],\n  ['Leads / Month', benchmark.leads_per_month_band || '\u2014'],\n  ['Avg Project Value', benchmark.project_value_band || '\u2014'],\n  ['Lead Response Time', benchmark.response_time_band || '\u2014'],\n  ['Audit Date', benchmark.submission_date]\n];\n\nfor (const [label, value] of overview) {\n  blocks.push({\n    type: 'bulleted_list_item',\n    bulleted_list_item: {\n      rich_text: [\n        { type: 'text', text: { content: label + ': ' }, annotations: { bold: true } },\n        { type: 'text', text: { content: value } }\n      ]\n    }\n  });\n}\n\nblocks.push({ type: 'divider', divider: {} });\nblocks.push({\n  type: 'heading_2',\n  heading_2: { rich_text: [{ type: 'text', text: { content: 'Pillar Breakdown' } }] }\n});\n\nconst pillars = benchmark.pillars || {};\nconst pillarEntries = Object.entries(pillars);\n\nif (pillarEntries.length === 0) {\n  blocks.push({\n    type: 'paragraph',\n    paragraph: { rich_text: [{ type: 'text', text: { content: 'No pillar data recorded.' } }] }\n  });\n} else {\n  for (const [key, pillar] of pillarEntries) {\n    const label = PILLAR_LABELS[key] || key;\n    const health = healthLabel(pillar.calc_rating);\n    blocks.push({\n      type: 'heading_3',\n      heading_3: { rich_text: [{ type: 'text', text: { content: label + '  ' + health } }] }\n    });\n    blocks.push({\n      type: 'bulleted_list_item',\n      bulleted_list_item: {\n        rich_text: [\n          { type: 'text', text: { content: 'Manual hours/week: ' }, annotations: { bold: true } },\n          { type: 'text', text: { content: String(pillar.hours_per_week) } }\n        ]\n      }\n    });\n    blocks.push({\n      type: 'bulleted_list_item',\n      bulleted_list_item: {\n        rich_text: [\n          { type: 'text', text: { content: 'Health rating: ' }, annotations: { bold: true } },\n          { type: 'text', text: { content: pillar.calc_rating + '/5 (self-rated: ' + pillar.self_rating + ')' } }\n        ]\n      }\n    });\n  }\n}\n\nblocks.push({ type: 'divider', divider: {} });\nblocks.push({\n  type: 'heading_2',\n  heading_2: { rich_text: [{ type: 'text', text: { content: 'Follow-up Notes' } }] }\n});\nblocks.push({\n  type: 'paragraph',\n  paragraph: { rich_text: [{ type: 'text', text: { content: '' } }] }\n});\n\nconst notionPayload = {\n  parent: { database_id: 'f26848b948ac46b3bb1d8de19b070a2e' },\n  properties: {\n    'Name': {\n      title: [{ text: { content: contact.full_name || 'Unknown' } }]\n    },\n    'Company': {\n      rich_text: [{ text: { content: contact.business_name || '' } }]\n    },\n    'Email': {\n      email: contact.email || null\n    },\n    'Phone': {\n      phone_number: contact.phone || null\n    },\n    'Status': {\n      select: { name: '\ud83d\uddd2\ufe0f Nurture' }\n    },\n    'Source': {\n      select: { name: 'Website Audit' }\n    },\n    'Business Type': {\n      select: { name: benchmark.industry || 'Other' }\n    },\n    'Notes': {\n      rich_text: [{\n        text: {\n          content: 'Loss: ' + benchmark.total_monthly_loss_band + '/mo | ' + benchmark.industry + ' | ' + benchmark.submission_date\n        }\n      }]\n    }\n  },\n  children: blocks\n};\n\nreturn [{ json: notionPayload }];"
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Build Notion Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Create Notion Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        690,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst contact = raw.body.contact;\nconst benchmark = raw.body.benchmark;\n\nif (!contact || !benchmark) {\n  throw new Error('Invalid payload: missing contact or benchmark');\n}\nif (!contact.email) {\n  throw new Error('Invalid payload: missing contact email');\n}\n\nconst firstName = (contact.full_name || '').split(' ')[0] || 'there';\n\nconst PILLAR_COPY = {\n  customer_experience: {\n    label: 'Customer Experience',\n    headline: \"A lead messaged you at 9pm. By morning they'd booked someone else.\",\n    fix: \"We set up an instant response system that replies, qualifies, and books, while you sleep.\",\n  },\n  sales: {\n    label: 'Sales',\n    headline: \"Your best lead this month replied to your quote. Then went quiet. You followed up two weeks later.\",\n    fix: \"We build a follow up sequence that stays on them for 30 days without you touching it.\",\n  },\n  content_design: {\n    label: 'Content & Design',\n    headline: \"You know you need to post. You just never have time to sit down and do it.\",\n    fix: \"One piece of content gets turned into a week of posts, captions, and emails, automatically.\",\n  },\n  personal_systems: {\n    label: 'Personal Systems',\n    headline: \"You're running the business and doing the admin of a business. That's two full time jobs.\",\n    fix: \"We take the second one off your plate, inbox, scheduling, meeting notes, reporting.\",\n  },\n  finance: {\n    label: 'Finance',\n    headline: \"You did the work. Getting paid for it is somehow still your problem.\",\n    fix: \"Invoices go out the moment a job is marked complete. Overdue reminders run on autopilot.\",\n  },\n};\n\nconst pillars = benchmark.pillars || {};\nlet biggestLeak = null;\nlet biggestLoss = 0;\n\nfor (const [key, pillar] of Object.entries(pillars)) {\n  const loss = (pillar.hours_per_week || 0) * (benchmark.hourly_rate || 0) * 4.33;\n  if (loss > biggestLoss && PILLAR_COPY[key]) {\n    biggestLoss = loss;\n    biggestLeak = { key, ...pillar, loss, copy: PILLAR_COPY[key] };\n  }\n}\n\nconst monthlyLoss = benchmark.total_monthly_loss || 0;\nconst yearlyLoss = monthlyLoss * 12;\n\nfunction fmtMoney(n) {\n  if (!n || n <= 0) return '$0';\n  return '$' + Math.round(n).toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, ',');\n}\n\nconst reportData = {\n  n: contact.full_name,\n  b: contact.business_name,\n  i: benchmark.industry,\n  r: benchmark.hourly_rate,\n  p: pillars,\n};\nconst encoded = encodeURIComponent(btoa(JSON.stringify(reportData)));\nconst reportUrl = 'https://www.undercurrentautomations.com/report?d=' + encoded;\nconst calUrl = 'https://cal.com/luke-marinovic-aqeosc/30min';\n\nconst leakBlock = biggestLeak ? `\n  <div style=\"background: #f0f7f3; border: 1.5px solid #c8ddd0; border-radius: 14px; padding: 24px 28px; margin: 28px 0;\">\n    <p style=\"font-family: Arial, Helvetica, sans-serif; font-size: 11px; letter-spacing: 0.14em; text-transform: uppercase; color: #6a9a7d; margin: 0 0 8px; font-weight: 600;\">YOUR BIGGEST LEAK &mdash; ${biggestLeak.copy.label.toUpperCase()}</p>\n    <p style=\"font-family: Arial, Helvetica, sans-serif; font-size: 17px; font-weight: 700; color: #1a1a1a; margin: 0 0 12px; line-height: 1.5;\">${biggestLeak.copy.headline}</p>\n    <p style=\"font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #6b6b6b; margin: 0 0 14px; line-height: 1.6;\">${biggestLeak.copy.fix}</p>\n    <p style=\"font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #6a9a7d; font-weight: 600; margin: 0;\">~${biggestLeak.hours_per_week} hrs/week &middot; ${fmtMoney(biggestLeak.loss)}/month</p>\n  </div>\n` : '';\n\nconst html = `<!DOCTYPE html>\n<html>\n<head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><meta name=\"color-scheme\" content=\"light\"><meta name=\"supported-color-schemes\" content=\"light\"></head>\n<body style=\"margin: 0; padding: 0; background: #f5f2ed; font-family: Arial, Helvetica, sans-serif;\">\n  <div style=\"max-width: 600px; margin: 0 auto; padding: 40px 24px;\">\n    <div style=\"background: #ffffff; border-radius: 18px; padding: 40px 32px;\">\n\n      <h1 style=\"font-family: Arial, Helvetica, sans-serif; font-size: 26px; font-weight: 700; color: #1a1a1a; margin: 0 0 12px; line-height: 1.3;\">Hey ${firstName}, your audit results are ready.</h1>\n      <p style=\"font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #6b6b6b; margin: 0 0 32px; line-height: 1.6;\">We've finished analysing how <strong style=\"color: #1a1a1a;\">${contact.business_name}</strong> is spending its time &mdash; and where that time is quietly costing you money.</p>\n\n      <div style=\"background: #f7f7f7; border: 1px solid #e5e5e5; border-radius: 14px; padding: 28px 28px 24px; text-align: center;\">\n        <p style=\"font-family: Arial, Helvetica, sans-serif; font-size: 11px; letter-spacing: 0.14em; text-transform: uppercase; color: #888; margin: 0 0 8px; font-weight: 600;\">ESTIMATED MONTHLY LOSS</p>\n        <p style=\"font-family: Arial, Helvetica, sans-serif; font-size: 42px; font-weight: 700; color: #a52a2a; margin: 0 0 4px; line-height: 1;\">${fmtMoney(monthlyLoss)}</p>\n        <p style=\"font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #999; margin: 0 0 20px;\">in unbilled time, missed leads & manual work</p>\n\n        <div style=\"height: 1px; background: #e0e0e0; margin: 0 0 20px;\"></div>\n\n        <p style=\"font-family: Arial, Helvetica, sans-serif; font-size: 11px; letter-spacing: 0.14em; text-transform: uppercase; color: #888; margin: 0 0 8px; font-weight: 600;\">THAT'S PER YEAR</p>\n        <p style=\"font-family: Arial, Helvetica, sans-serif; font-size: 42px; font-weight: 700; color: #a52a2a; margin: 0; line-height: 1;\">${fmtMoney(yearlyLoss)}</p>\n      </div>\n\n      ${leakBlock}\n\n      <div style=\"text-align: center; margin: 32px 0 16px;\">\n        <a href=\"${reportUrl}\" style=\"display: inline-block; background: #8FAF9F; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-weight: 700; padding: 18px 60px; border-radius: 9999px; text-decoration: none; letter-spacing: 0.01em; width: 80%; text-align: center;\">View Your Full Report \\u2192</a>\n      </div>\n\n      <div style=\"text-align: center; margin: 0 0 8px;\">\n        <a href=\"${calUrl}\" style=\"display: inline-block; background: transparent; color: #6a9a7d; font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-weight: 600; padding: 16px 60px; border-radius: 9999px; text-decoration: none; border: 1.5px solid #c8ddd0; width: 80%; text-align: center;\">Book a Free Strategy Call</a>\n      </div>\n\n    </div>\n\n    <div style=\"background: #1a1a1a; border-radius: 14px; padding: 28px 32px; margin-top: 16px;\">\n      <p style=\"font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 700; color: #ffffff; margin: 0 0 8px;\">Undercurrent Automations</p>\n      <p style=\"font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #888; margin: 0 0 4px;\">You're receiving this because you completed the Undercurrent business audit.</p>\n      <p style=\"font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #888; margin: 0;\">&copy; 2026 Undercurrent Automations &middot; Australia</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn [{ json: {\n  html,\n  recipientEmail: contact.email,\n  subjectLine: firstName + \", here's your business audit results\",\n} }];"
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Build HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        520
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recipientEmail }}",
        "subject": "={{ $json.subjectLine }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Send Audit Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        690,
        520
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "NEEDS_LINKING",
          "name": "Gmail Audit"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Notion Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notion Payload": {
      "main": [
        [
          {
            "node": "Create Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Email": {
      "main": [
        [
          {
            "node": "Send Audit Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}